<nav-bar></nav-bar>
<div class="experience-body">
  <div class="experience-photo">
    <img src="../../assets/20240210_134002.jpg" alt="image">
  </div>
  <div class="experience-info">
    <div class="big-title">
      <span>Experience</span>
    </div>
    <div class="job">
      <div class="first-part">
        <span class="title">Junior FullStack Software Developer <b class="imatia">@Imatia</b></span>
        <span class="date">jun. 2023 - Present</span>
      </div>
      <div class="second-part">
        In my current role, I serve as a member of the Backoffice development team, specializing in both front-end and back-end technologies. Making use of my knowledge in <b>AngularJS</b>✅ and <b>Vue.js</b>✅ for front-end development, <b>Spring Boot in Java</b>✅ for back-end development and MySQL✅ for database management. Additionally, I play an important role in enhancing and maintaining part of the official website of luckia.es, ensuring its seamless functionality and user experience and I also have responsabilities in the development and maintenance of internal software programs. On my regular basis I carry out the project manegement using <b>Git/GitHub</b>✅ technologies and <b>Microsoft Azure Services Platform</b>.✅
      </div>
    </div>
    <div class="job">
      <div class="first-part">
        <span class="title">Intern as ORACLE suite developer <b class="edisa">@Edisa</b></span>
        <span class="date">oct. 2022 - ene. 2023 </span>
      </div>
      <div class="second-part">
        Over the past few months, I have received advanced training in much of the Oracle suite. This has given me a broad knowledge of <b>SQL</b>✅, <b>PL/SQL</b>✅, <b>Oracle Forms</b>✅, and <b>BI Publisher</b>✅. Additionally, I have gained valuable insight into business dynamics and the entire software development process.
      </div>
    </div>
    <div class="job">
      <div class="first-part">
        <span class="title">Intern as Systems Manteiner <b class="university">@University Of Vigo</b></span>
        <span class="date">oct. 2022 - ene. 2023</span>
      </div>
      <div class="second-part">
        I was working as intern and in charge of the maintenance, updating and proper functioning of the IT systems in the Faculty of Education, Vigo University.
      </div>
    </div>
  </div>
</div>
