.home-page-body{
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  margin-top: 5%;
}
.courses{
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.course{
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.home-page-title{
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.home-page-title .title{
  color:  #03a9f4;
  font-size: 50px;
}
.home-page-title .subtitle{
  color:  aliceblue;
  font-size: 25px;
}
