.nav-bar-body{
  color: #fff;
  height: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  font-size: 15px;
  padding: 10px;
}

.nav-bar-body a:hover{
  color: #03a9f4;
  cursor: pointer;
}

.nav-bar-lenguages{
  height: 100%;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
}

.nav-bar-lenguages a{
  margin-right: 10px;
}

.nav-bar-links{
  height: 100%;
  cursor: pointer;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-bar-links a{
  margin-left: 30px;
}

.icon{
  height: 30px;
  width: 30px;
  margin-left: 30px;
  cursor: pointer;
}

img{
 border-radius: 500px;
}

.icon:hover{
  box-shadow: 0 1px 16px 0 rgba(182, 182, 182, 0.2), 0 2px 8px 0 rgba(255, 255, 255, 0.14), 0 4px 8px -1px rgb(255, 255, 255);
}


.menu {
  position: relative;
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  padding: 10px;
  z-index: 1;
  font-size: 40px;
}


.menu-trigger {
  cursor: pointer;

}

.iconmenu{
  height: 40px;
  width: 40px;

}

.iconmenu2{
  height: 40px;
  width: 40px;
  margin-top: 15px;
}

.iconmenu2:hover{
  box-shadow: 0 1px 16px 0 rgba(182, 182, 182, 0.2), 0 2px 8px 0 rgba(255, 255, 255, 0.14), 0 4px 8px -1px rgb(255, 255, 255);
}

.visible{
  display: inline-flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  background-color: #1f1f1f;
}

.visible a{
  margin-top: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
    .menu{
      display: block;
      margin: 5px;
    }
    .not-mobile{
      display: none;
    }
    .nav-bar-body{
      height: 30px;
      width: 100%;
      display: inline-flex;
      justify-content: flex-start;
    }
}
