
<nav-bar></nav-bar>
<div class="contact-me-body">
  <div class="contact-me-box">
    <span class="title">Contact me</span>
    <span class="subtitle">Drop me a email through the form and I'll get back to you</span>
    <form class="contact-me-form" action="https://formsubmit.co/f6e579a66be85b8e86afbae25e36f59e" method="POST">


        <input required class="email input" type="email" name="email" (input)="email = $event.target.value" placeholder="Enter your email">
        <div class="error-box">
          <span class="error email-error">Introduce a correct format email</span>
        <span class="error email-error-required">Required input</span>
        </div>
        <input required class="subject input" type="text" name="_subject" (input)="subject = $event.target.value" placeholder="Subject">
        <div class="error-box">
          <span class="error subject-error">Alphanumeric characters only</span>
        <span class="error subject-error-required">Required input</span>
        </div>
        <textarea required class="message input" name="message" (input)="message = $event.target.value" placeholder="Enter here your message"></textarea>
        <div class="error-box">
          <span class="error message-error-required">Required input</span>
        </div>
        <input type="hidden" name="_captcha" value="false">
        <div class="elboton">
          <button  type="submit">Send</button>
        </div>

    </form>
  </div>

</div>
