.contact-me-body{
  color: aliceblue;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80%;
  text-align: center;
  width: 100%;
}

.contact-me-box{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contact-me-box .title{
  font-size: 40px;

}
.contact-me-box .subtitle{
  font-size: 20px;
  margin-bottom: 40px;
}
 .contact-me-box .contact-me-form{
  width: 90%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
.contact-me-box .form{
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-between;
}

.contact-me-box .form .input{
    width: 400px;
    border-radius: 4px;
}
input, textarea, button{
  padding: 10px;
  border-radius: 6px;
  margin: 10px;
}

button{
  width: 50%;
  color: aliceblue;
  background-color: #03a9f4;
  font-size: 18px;
  font-weight: 700;
}

button:hover{
  width: 50%;
  color:  #03a9f4;
  background-color: aliceblue;
  box-shadow: 0 1px 16px 0 rgba(182, 182, 182, 0.2), 0 2px 8px 0 rgba(255, 255, 255, 0.14), 0 4px 8px -1px rgb(255, 255, 255);
}

.error-box{
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: center;
}
.error{
  display: none;
  color: red;
  font-size: 12px;
}

.error-input{
  border-color: red;
  border-style: solid;
}
.elboton{
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


