<nav-bar></nav-bar>
<div class="education-body">
    <div class="degree-part">
      <div class="big-title-degree">
        <span class="title-degree">Education</span>
        <div class="img">
          <img class="myself" src="../../assets/yo.jpg" alt="">
          <div class="degree-info">
            <span class="degree-title">Computer Science Degree</span>
            <span class="degree-substitle"><b>@University Of Vigo</b></span>
            <div class="text">
              <span>
                The Software Engineering degree offers a comprehensive education in key areas such as physics, mathematics, programming, business, and leadership. The course curriculum progresses from fundamental concepts to advanced technologies, covering topics such as algorithms, computer architectures, databases, networking, computer security, and software development with a Final Degree Thesis thaat integrates the knowledge acquired throughout the course.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="experience-info">
      <div class="course-title">
        <span>Courses and Certifictions</span>
      </div>
      <div class="courses">
        <div class="course">
          <div class="enterprise-img">
            <img class="image-course" src="../../assets/udemy.png" alt="">
          </div>
          <div class="first-part">
            <span class="title">Docker - Beginner to Advanced <span class="university">@Udemy Bussines</span></span>
            <span class="date"><b>Expedition: </b>Apr. 2024 - 2,5 h</span>
            <span class="credentials"><b>Credential Id:</b></span>
          </div>
        </div>
        <div class="course">
          <div class="enterprise-img">
            <img class="image-course" src="../../assets/udemy.png"  alt="">
          </div>
          <div class="first-part">
            <span class="title">Angular Deep Dive - Beginner to Advanced (Angular 17) <span class="university">@Udemy Bussines</span></span>
            <span class="date"><b>Expedition: </b>Apr. 2024 - 12 h</span>
            <span class="credentials"><b>Credential Id:</b> UC-33246c39-47e-4562-9262-bd021434f5ce</span>
          </div>
        </div>
        <div class="course">
          <div class="enterprise-img">
            <img class="image-course" src="../../assets/hacker.png" alt="">
          </div>
          <div class="first-part">
            <span class="title">JavaScript (Intermediate) Certificate <span class="edisa">@HackRank</span></span>
            <span class="date"><b>Expedition: </b> Apr. 2024 </span>
            <span class="credentials"><b>Credential Id: </b>5e0926032a81</span>
          </div>
        </div>
        <div class="course">
          <div class="enterprise-img">
            <img class="image-course" src="../../assets/cluster.png" alt="">
          </div>
          <div class="first-part">
            <span class="title">Advanced programming with JavaScript and EcmaScript <span class="imatia">@Cluster TIC Galicia</span></span>
            <span class="date"><b>Expedition: </b>March. 2024 - 60h</span>
            <span class="credentials"><b>Credential Id: </b>2024/000121</span>
          </div>
        </div>
        <div class="course">
          <div class="enterprise-img">
            <img class="image-course" src="../../assets/udemy.png"  alt="">
          </div>
          <div class="first-part">
            <span class="title">Vue Js Essentials with Vuex and Vue Router <span class="university">@Udemy Bussines</span></span>
            <span class="date"><b>Expedition: </b>Jul. 2023 - 10,5h</span>
            <span class="credentials"><b>Credential Id: </b>2024/000121</span>
          </div>
        </div>
      </div>
      </div>

</div>
