.education-body{
  margin-top: 5%;
  color: aliceblue;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.degree-part{
  margin: 25px;
  width: 420px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.myself{
  height: 300px;
  width: 200px;
  border-radius: 164px;
  margin: 15px;
}

.title-degree, .course-title{
  font-size: 25px;
  font-weight: 600;
  color: #03a9f4;
}



.experience-info{
  width: 800px;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.course{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  border-style: solid;
  border-top: 2px solid aliceblue;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: justify;
}

.big-title-degree{
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.img{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.degree-info{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.degree-title{
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  color: coral;
}
.degree-substitle{
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.image-course{
  height: 50px;
  width: 50px;
  margin: 10px;
}

.course{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.first-part{
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
}

.title{
  font-size: 18px;
  font-weight: 600;
  color: #03a9f4;
}
.date{
  font-style: italic;
}

b{
  color:gold;
}

.big-title{
  font-size: 40px;
  font-weight: 600E;
}

.imatia{
  color: #b60000 !important;
}

.edisa{
  color:  #1b9403 !important;
}
.university{
  color:  #b300b3 !important;
}
